<!DOCTYPE html>
<html lang="en">
<head>
 
<!-- include partials/head -->


    <title>Rutine - Your Tasks</title>
    <meta charset="utf-8">
    <meta name="active-menu" >
    <link rel="icon" type="image/ico" href="images/icons/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="css/util.css">
      <link rel="stylesheet" type="text/css" href="css/main.css">
    
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="./stylesheets/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--===============================================================================================-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-client_id" content="930100384443-9208pp2f61p0v1vvs31lc8mb0cafv5jm.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>


    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <meta http-equiv="refresh" content="30">
<!---->
<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
        console.log('User signed out.');
        setCookie('securityContextId', '', 0)
        });
  
      } 
</script>
    <style>
  
   body{
    background: #91c9d5;
    background: -webkit-linear-gradient(left, #c5f4ff,#c5f4ff);
    background: -o-linear-gradient(left, #c5f4ff, #c5f4ff);
    background: -moz-linear-gradient(left, #c5f4ff, #c5f4ff);
    background: linear-gradient(left, #c5f4ff, #c5f4ff);

    padding-top:0px;
	padding-left: 0px;
	padding-right: 0px;
    
   }
      table,th,tr,td{
        
        padding:5px 70px 10px 10px;
        font-size: 20px;
        background-color:#cecece;
        font-weight: bold;
        
       
        
        
      }


      th{
        background-color:#029a62;
      }

      

     
   
      
      #date{
        color:#029a62;
        font-weight: bold;
      }

      #dueDate{
        color:red;
        font-weight:bold;
      }
      #monday, #tuesday{
        width:300px;
        height:300px;
        border:solid black 1px;
        padding-top: 10px;
      }

    #title{
      color:black;
    }

    #homeBtn, #createBtn, #loginBtn{
      color:black;
    }
    #nav{
      background-color: #029a62;
    }

    #box{
      background: #91c9d5;
    background: -webkit-linear-gradient(left, #e3faff,#e3faff);
    background: -o-linear-gradient(left, #e3faff, #e3faff);
    background: -moz-linear-gradient(left, #e3faff, #e3faff);
    background: linear-gradient(left, #e3faff, #e3faff);
    }

    #mainTable{
      background: #91c9d5;
    background: -webkit-linear-gradient(left, #c5f4ff,#c5f4ff);
    background: -o-linear-gradient(left, #c5f4ff, #c5f4ff);
    background: -moz-linear-gradient(left, #c5f4ff, #c5f4ff);
    background: linear-gradient(left, #c5f4ff, #c5f4ff);
    }

    #logOutBtn{
      color:black;
    }


    #profileImg{
      border-radius: 50%;
    }


    .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


.top{
  color:black;
}

#status{
  color:#029a62;
}


#addOnBottom{
  height:50px;
  background-color:#029a62;

}

#addText{
  padding:10px 10px 10px 10px;
}

#addLink{
  color:blue;
}

      
      </style>

<script>
function signOut() {
  var auth2 = gapi.auth2.getAuthInstance();
  auth2.signOut().then(function () {
  console.log('User signed out.');
  setCookie('securityContextId', '', 0)
  });

} 


</script>
</head>
<body>

<!-- include partials/menu -->

<div id = 'container'>
  <nav class="navbar navbar-default" id = "nav">
    <div class="container">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
       
        <a class="navbar-brand" href="/logout" id = "title">Rutine</a>
        
      </div>
      
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a id = "homeBtn" href="/home">home</a></li>
          <li id="add"><a id = "createBtn" href="/add">add task</a></li>
          
          <div class="dropdown">
            <li ><img id="profileImg" src="../img/img_avatar.png" alt="Avatar" width = "50px" height = "50px"></li>
            <div class="dropdown-content">
              <a href="/settings">settings</a>
              <div onclick = "signOut()"><a href = "/">log out</a></div>
              
            </div>
          </div>
          
        </ul>
      </div>
    </div>
  
   
  </nav>

      <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <!------ Include the above in your HEAD tag ---------->
      
   
   
      


    <div class="container-fluid bg-3 text-center" id = "mainTable">  
    
    <div align = "center" id = "grey">
      <div id = "box"></div>
      <table class = "table">
       
          <tr id = "topRow">

            <th class = "top"> 
              Task
          </th>
              <th class = "top">Class</th>
                  
              
              

            

            

          <th class = "top"></th>
            
        

        <th class = "top"></th>

      
          
          <th class = "top"></th>
              
        

    
          </tr>
    
      
      <%tasks.forEach((task)=> {%>

        <tr>
        <td id = "description">
          <%=task.description%>
      </td>

       
          <td id = "name">
              <%=task.title%>
          </td>
          
        
       

      <td id= "dueDate">
        <%=task.dueDate%>
    </td>

    <td id= "dueDate">
      <form action="/home">
      <select id="status" name="status" for = "status" onchange="this.form.submit()">
        <option id="WorkingOnIt">Working On It</option>
        <option id="Stuck">Stuck</option>
        <option id="Completed">Completed</option>
        
      </select>


    </form>
    
  </td>

    <td>
      <a href='/<%=task._id%>/update'><em>Edit</em></a>
      <a href='/<%=task._id%>/delete%>'><em>Delete</em></a>
  </td>

        
      
        
        </tr>
      <% })%> 
      
      </table>

      <!--<div id = "addOnBottom">
        <h3 id = "addText"><a id = "addLink" href = >Add Task</a></h3>

      </div>-->
  </div>
</div>
    
</div>
</div>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../public/javascripts/menu.js"></script>

<!-- include partials/script -->

</html>