<!DOCTYPE html>
<html lang="en">
<head>
 
<!-- include partials/head -->


    <title>Your Tasks</title>
    <meta charset="utf-8">
    <meta name="active-menu" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <meta http-equiv="refresh" content="30">


    <style>
      table,th,tr,td{
        
        padding:5px 70px 10px 10px;
        font-size: 20px;
        
      }

      th{
       text-decoration:underline;   
      }
      
      #date{
        color:red;
      }
      #monday, #tuesday{
        width:300px;
        height:300px;
        border:solid black 1px;
        padding-top: 10px;
      }
      </style>
</head>
<body>

<!-- include partials/menu -->

  
  <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">Task Manager</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li id="home"><a href="/">HOME</a></li>
              <li id="add"><a href="/add">CREATE</a></li>
              <li id="page2"><a href="/">CONTACT US</a></li>
              
            </ul>
          </div>
        </div>
      </nav>

     

<!--<div id = "monday"></div>
<div id = "tuesday"></div>-->
<div class="container-fluid bg-3 text-center">  
  
  <div align = "center">
    <table>
        <tr>
            <th >
                Class
            </th>
            <th> 
              Task
          </th>

          <th>
            Notes
        </th>

          <th >
            Date
        </th>
           
        </tr>
    
    <%tasks.forEach((task)=> {%>
     
      <tr>
        <td id = "name">
            <%=task.title%>
        </td>
        <td id = "description">
          <%=task.description%>
      </td>
      <td id = "notes">
        <%=task.notes%>
    </td>
      <td id= "date">
        <%=task.date%>
    </td>
        <td>
            <a href='/<%=task._id%>'>Edit</a>
            <a href='/<%=task._id%>/delete%>'>Delete</a>
        </td>
    
      
      </tr>
    <% })%> 
    
    </table>
    
  </div>
    
</div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../public/javascripts/menu.js"></script>

<!-- include partials/script -->

</html>