
<!DOCTYPE html>
<html lang="en">
<head>
 
<!-- include partials/head -->


    <title>Edit Item</title>
    <meta charset="utf-8">
    <meta name="active-menu" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <meta http-equiv="refresh" content="30">

  
</head>
<body>

<!-- include partials/menu -->

  
  <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">Task Manager</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li id="home"><a href="/">HOME</a></li>
              <li id="add"><a href="/add">CREATE</a></li>
              <li id="contact"><a href="/">CONTACT US</a></li>
            </ul>
          </div>
        </div>
      </nav>

     


<div class="container-fluid bg-3 text-center">    
    <form id = "taskForm" action="/<%=task.id%>/update" method="POST" class="ui form">

        <div class="field">
            <label> Class: </label>
            <input type="text" name="title" placeholder="title" value='<%=task.title%>'>
        </div>
        <div class="field">
                <label> Task: </label>
                <input type="text" name="description" placeholder="description" value="<%=task.description%>">
         </div>

         <div class="field">
          <label> Date: </label>
          <input type="text" name="date" placeholder="Default is current date" value="<%=task.date%>">
      </div>

      
      <div class="field">
        <label> Notes: </label>
        <input type="text" name="notes" placeholder="" value="<%=task.notes%>">
    </div>

    
        <input id = "DeleteButton" type="submit" class="button" value = "delete">
        <input id = "UpdateButton" type="submit" class="button" value = "update">
    </form>
    
    
    
</div>

</body>
<script>
  $("#UpdateButton").click(function() {
  
  $("#taskForm").attr('action', "/<%=task._id%>/update");
  
  });
  $("#DeleteButton").click(function() {
  
      $("#taskForm").attr('action', "/<%=task._id%>/delete");
   
  });
  
  </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../public/javascripts/menu.js"></script>

<!-- include partials/script -->

</html>






