<!DOCTYPE html>
<html lang="en">

<head>


  <title>Routine</title>

  <%- include ('./partials/newHeaders.ejs') %>


</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

  <%- include ('./partials/newGoogle.ejs') %>
  <%- include ('./partials/navBar.ejs') %>
  
   <!-- Begin Page Content -->
   <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tasks</h1>
    <br>
 

    <!-- DataTales Example -->
    <div class = "container-fluid" style = "height:1000px;">
      <div class="card shadow mb-4" >
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Daily Tasks</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th>Task</th>
                          <th>Description</th>
                          <th>DueDate</th>
                          <th>Status</th>
                          <th>Start date</th>
                          <th>Notes</th>
                      </tr>
                  </thead>
                  <tbody>
                  <%tasks.forEach((task)=> {%>
                          <tr>
                              <td id = "name"><%=task.title%></td>
                              <td id = "description"><%=task.description%></td>
                              <td id= "dueDate"><%=task.dueDate%></td>
                              <td id= "dueDate">
                                <form action="/home">
                                    <select id="status" name="status" for = "status" onchange="this.form.submit()">
                                        <option id="WorkingOnIt">Working On It</option>
                                        <option id="Stuck">Stuck</option>
                                        <option id="Completed">Completed</option>
            
                                    </select>
                                </form>
                              </td>
                              <td id = "date"><%=task.date%></td>
                              <td id = "notes"><%=task.notes%></td>
                              
                              
                      
      
                              <td>
                                  <a href='/<%=task._id%>/update'><em>Edit</em></a>
                                  <a href='/<%=task._id%>/delete%>'><em>Delete</em></a>
                              </td>
                          </tr>
                      <% })%> 
                  </tbody>
              </table>




            
          </div>
        </div>
      </div>

    </div>
</div>
  <!-- /.container-fluid -->
       


















  

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Routine 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>


  <%- include ('./partials/newFooters.ejs') %>
</body>

</html>
